<h1>Avengers introduced per year</h1>

<%= line_chart Avenger.group(:year).count %>

<h1>Avengers by gender</h1>

<%= bar_chart Avenger.group(:gender).count %>

<h1>Avengers by living status</h1>
<%= bar_chart Avenger.group(:alive).count %>

<div class="row">
  <div class="col-xs-6">
    <h1>Living status by gender: Female</h1>
    <%= pie_chart Avenger.where(gender: "female").group(:alive).count %>
  </div>
  <div class="col-xs-6">
    <h1>Living status by gender: Male</h1>
    <%= pie_chart Avenger.where(gender: "male").group(:alive).count %>
  </div>
</div>

<h1>Avengers all-time roster</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Aliases</th>
    <th>Gender</th>
    <th>Year Introduced</th>
    <th>Status</th>
  </tr>
<% @avengers.each do |avenge| %>
  <tr>
    <td><strong><%= link_to avenge.name, avenge %></strong></td>
    <td><%= aliases_links(avenge).html_safe %></td>
    <td><%= avenge.gender %></td>
    <td><%= avenge.year %></td>
    <td class="<%= avenge.alive? ? "bg-success" : "bg-danger" %>"><%= avenge.alive? ? "Alive" : "Deceased" %></td>
  </tr>
<% end %>
</table>

<%= paginate @avengers %>
